HELP.md
.gradle
.gitignore
/build/
!gradle/wrapper/gradle-wrapper.jar
/src/main/resources/static/static/
/src/main/resources/static/index.html
/bin/static/index.html
/bin/static/static/
/frontend/package.json
/frontend/package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
